;;; -*- lexical-binding: t -*-

;; Author:  xplutoyz
;; Created: 2025-03-07 14:37:30

;;; Commentary:

;;

;;; Code:

(add-to-list 'load-path "~/.emacs.d/extras")

;; (require 'init-gptel)

;; (require 'init-color-rg)

;; (require 'init-dwim-shell-command)

;; (require 'init-ultra-scroll)

;; (require 'init-elfeed)

;;; User:

;; (ef-themes-select 'ef-night)

;;; user-config.el ends here
